 <!-- Footer -->
 <div id="footer">

     <div class="box-xs-12">
         <img src="/public/img/logo.png" class="logo" alt="Lovr logo"><br>
     </div>

     <a href="https://www.facebook.com/azam.awan.754" target="_blank">
         <i class="fab fa-facebook-f"></i>
     </a>

     <a href="https://twitter.com/awan_webdev" target="_blank">
         <i class="fab fa-twitter"></i>
     </a>

     <a href="https://www.instagram.com/awan.dev/" target="_blank">
         <i class="fab fa-instagram"></i>
     </a>

     <a href="www.linkedin.com/in/mohammad-azam-awan-769284126" target="_blank">
         <i class="fab fa-linkedin"></i>
     </a>

     <a href="https://www.awandev.nl" target="_blank">
         <i class="far fa-file-alt"></i>
     </a>

     <p>
         Webdesign: <span class="theDate"></span> <a href="https://www.awandev.nl">Azam Awan</a>.
     </p>
</div>
 <!--/ Footer -->

 




