<nav>

  <input type="checkbox" id="check">

  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>

  <a href="/"><img id="logoHeader" src="/public/img/logo_header.png"></a>
<% if (typeof user == 'object' && user) { %>
  <ul>
    <li><a href="/discover">Discover</a></li>
    <li><a href="/profile">Profile</a></li>
      <li><a href="/logout"><button type="button">Log out</button></a></li>
   
  </ul>
<% } else { %>
 <ul>
  <li><button onclick="location.href='login'" type="button">Log in</button></li>
 </ul>
<% } %> 
</nav>
