<nav>

  <input type="checkbox" id="check">

  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>

  <img id="logoHeader" src="/public/img/logo_header.png">

  <ul>
    <li><button onclick="location.href='login'" type="button">Log in</button></li>
    <li><a href="/index">Home</a></li>
    <li><a href="/over">Over</a></li>
    <li><a href="/diensten">Diensten</a></li>
    <li><a href="/contact">Contact</a></li>

  </ul>
  
</nav>