<nav>

  <input type="checkbox" id="check">

  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>

  <img id="logoHeader" src="/public/img/logo_header.png">

  <ul>
    <li><a href="/">Home</a></li>
  </ul>

</nav>
