
<!-- kijken  of errors bestaan. als er foutmeldingen zijn. dan worden zij doorgestuurd naar error.msg-->
<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
  <div class="alert">
    <%= error.msg %>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>

  <% }); %> <% } %> <% if(success_msg != ''){ %>
    <div class="alert-success">
      <%= success_msg %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
  <% } %> <% if(error_msg != ''){ %>
    <div class="alert">
      <%= error_msg %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
  <% } %> <% if(error != ''){ %>
    <div class="alert">
      <%= error %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
  <% } %>