<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
</head>

<body class="container">

    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <main>

        <section id="main">
            <h1>Contact</h1>
        </section>

        <section>
            <h2>Contactgegevens</h2>
        </section>

    </main>

    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>

</body>

</html>