<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
</head>

<body class="container">

    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <main>

        <section id="slider">

            <h1> Swipe. Match.
                <span href="" class="typewrite" data-period="2000"
                    data-type='[ " Enjoy", " Love", " Date", " Chat" ]'></span>
            </h1>

            <p>Waarom ingewikkeld? Maak daten lekker makkelijk met Lovr!</p>

            <button onclick="location.href='aanmelden'" type="button">Aanmelden</button>

        </section>

    </main>

</body>

</html>