<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
</head>

<body class="container">

    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <main>

        <section id="main">

            <h1>Over</h1>

        </section>


        <section>
            <h2>Lovr. Online dating platform voor studenten</h2>

        </section>

        <section>
            <h2>Lovr. Online dating platform voor studenten</h2>
            sdsadasd
        </section>


        </div>
    </main>

    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>

</body>

</html>