<!-- views/pages/about.ejs -->

    <%- include ('partials/head.ejs') %>

<body class="container">


    <%- include ('partials/header.ejs') %>


<main>

    <section id="bgLogin">

        <h1 id="notFound">404 niet gevonden</h1>

    </section>


</main>

</body>
