<%- include ('partials/edit-head.ejs') %>

<body class="container">

  <%- include ('partials/header.ejs') %>

  <main>

    <section id="main">
      <h1>Edit profile</h1>
    </section>

    <section class="formContainer">

      <article>
        <form action="/edit-profile" method="POST" enctype="multipart/form-data">

            <div class="flexForm">
                <fieldset class="personalia">
                    <label>What is your name?
                        <input type="text" name="name">
                    </label>

                    <label class="flexAge">How old are you?
                        <input type="number" size="3">
                    </label>

                    <label>Do you have any hobbies?
                        <input type="text" name="hobby">
                    </label>

                    <label>Which gender do you prefer?
                        <input type="text" name="genderPreference">
                    </label>
                </fieldset>

                <fieldset class="pickupline">
                    <label>What is your pickup line?
                        <input type="text" name="pickupText">
                    </label>

                    <label class="flexForm">If you can't think about one, you can choose for a random one. Check
                        this box if you want one.
                        <input type="checkbox" name="pickupBox" class="pickupCheckbox">
                    </label>
                </fieldset>

                <fieldset class="uploadPicture">
                    <label class="uploadContainer">Upload your profile picture.
                        <input class="uploadInput" type="file" name="picture">
                    </label>
                </fieldset>

                <button type="submit" class="saveButton">Save</button>
            </div>

        </form>

        <button class="next">Next</button>

        <button class="back">Back</button>

        <div class="cancelContainer">
            <a href="/profile" class="cancelButton">Cancel</a>
        </div>

    </article>

    </section>

  </main>

  <footer>
    <%- include ('partials/footer.ejs') %>
  </footer>
  <script src="./public/js/script.js"></script>
</body>

</html>
