<%- include ('partials/head.ejs') %>


<body class="container">
  <%- include ('partials/header.ejs') %>

  <main>

    <section id="slider">

      <h1> Swipe. Match.
        <span href="" class="typewrite" data-period="2000" data-type='[ " Enjoy", " Love", " Date", " Chat" ]'></span>
      </h1>

      <p>Waarom ingewikkeld? Maak daten lekker makkelijk met Lovr!</p>

      <button onclick="location.href='register'" type="button">Aanmelden</button>

    </section>

  </main>

</body>

</html>
