<%- include ('partials/head.ejs') %>

<body class="container">

    <%- include ('partials/profile-header.ejs') %>

<main>

    <section id="main">
        <h1>Profile</h1>
    </section>

    <section>
        <h1 class="mt-4">Profile</h1>
        <h1>Welkom Chun</h1>

    </section>

</main>

<footer>
    <%- include ('partials/footer.ejs') %>
</footer>

</body>
