<%- include ('partials/head.ejs') %>

<body class="container">


  <%- include ('partials/header.ejs') %>


  <main>

    <section id="bgLogin">

      <h1>Hoi 'User'</h1>

      <button type="button" name="button">Edit profile</button>

    </section>


  </main>

</body>
