/*
Table of context
	- Base code
	- Navigation
	- Header
	- Main
	- Footer
*/

/********************
*****Base Code *****
********************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #d61e3a;
}

body {
	font-size: 1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

section {
	min-height: 75vh;
	padding: 75px 0px 75px 0px;
	margin: 0vw 15vw 0vw 15vw;
	border-bottom: 1px solid rgb(215, 215, 215);
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	font-size: 3em;
}

section button {
	font-size: 1em;
	text-transform: uppercase;

	padding: 15px 30px 15px 30px;
	margin-right: 50px;
	border-style: none;
	border-radius: 8px;

	color: #d61e3a;
}


/********************
**** Navigation ****
********************/

nav {
	width: 100%;
	position: fixed;
	background: transparent;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

nav img {
	display: inline-block;
	width: 200px;
	padding-left: 50px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
}

nav ul li a:hover {
	color: #d61e3a;
	background-color: #fff;
	transition: .3s;
}

nav ul li button {
	font-size: 1em;
	text-transform: uppercase;

	padding: 15px 30px 15px 30px;
	margin-right: 50px;
	border-style: none;
	border-radius: 8px;

	color: #d61e3a;
}

input[type="number"]{
	width: 20%;
	padding: 15px 30px 15px 30px;
	margin: 0.5em 0;
	border-radius: 0.25em;
	border: 1px solid #ccc;
}

.done{
	margin: auto;
}

div p{
	margin: auto;
	animation: fadeinOpacity 0.
}

.uploadContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.uploadInput{
	margin-top: 0.5em;
}

.formContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cancelContainer{
	display: flex;

}

.flexForm{
	width: 30em;
	height: 35em;
	display: flex;
  flex-direction: column;
	margin: auto;
	border-style: none;
}

.flexLine{
	width: 30em;
	display: flex;
  flex-direction: column;
	margin: auto;
	border-style: none;
}
.pickupCheckbox{
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-radius: 4px;
	border: 1px solid #ccc;
}

fieldset{
		border-style: none;
		animation: fadein 0.8s;
}

.progressbar{
	display:flex;
	flex-direction: row;
	height: 5em;
	width: 100%;
}

.progressbar > div{
	width: 9em;
	height: 0.5em;
	animation:fadeinOpacity 1.5s;
	margin: 1em 1em 2em 1em;
}

.progress1{
	background-color: #FF5B63;
}

.progress2{
	background-color: #FF5B63;
}

.progress3{
	background-color: #FF5B63;
}

.next{
	animation:fadeinOpacity 1.5s;
}

.back{
	animation: fadeinOpacity 1.5s;
}

@keyframes fadeinOpacity{
	from{ opacity: 0;
		}
		to{opacity: 1;
		}
}

@keyframes fadein{
	from{ opacity: 0;
	width:0%;}
	to{opacity: 1;
	width:100%;}
}

.hidden{
	display: none;
}

.flexAge{
	display: flex;
  flex-direction: column;
	flex-wrap: wrap;
	border-style: none;
}

.saveButton{
	font-size: 1em;
	background-color:  #d61e3a;
	padding: 1em 3em 1em 3em;
	border-style: none;
	border-radius: 8px;
	color:white;
	text-align: center;
	margin: 2em auto 1.5em auto;
	animation: fadeinOpacity 0.8s;

}

.cancelButton{
	font-size: 1em;
	padding: 15px 30px 15px 30px;
	border-radius: 8px;
	border: 1px solid #d61e3a;
	margin-top: 3em;
	display: flex;
	justify-content: flex-start;

}

nav ul li button:hover {
	color: #fff;
	background: #d53369;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbad6d, #d53369);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbad6d, #d53369);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

article ul {
	list-style-type: none;
}

#profile-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Mobile Nav */
@media (max-width: 858px) {



	nav {
		background-color: #d61e3a;
	}

	nav ul li button {
		margin-right: 0px;
		color: #fff;
		background: #d53369;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #cbad6d, #d53369);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #cbad6d, #d53369);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.checkbtn {
		display: block;
	}

	nav ul {
		position: fixed;
		border-top: solid 1px #d7d7d7;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: #fff;
		left: -100%;
		text-align: center;
		transition: all .3s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
		color: #000;
	}

	nav ul li a:hover {
		background: none;
		color: #d61e3a;
	}

	#check:checked~ul {
		left: 0;
	}
}

.active {
	background-color: #fff;
	color: #000;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.activeLink {

	background-color: #d61e3a;
	color: #fff;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.active a {
	color: #000;
}

.active button {
	color: #fff;
	background: #d53369;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbad6d, #d53369);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbad6d, #d53369);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*********************
******* Header *******
*********************/

#main {
	min-height: 75vh;
	margin: 0vw 0vw 0vw 0vw;
	background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('../img/slider1.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
}

#main h1 {
	text-align: center;
	font-size: 7em;
	color: #fff;
	padding-top: 20vh;
}

/* index/home slider*/
#slider {
	min-height: 100vh;
	margin: 0vw 0vw 0vw 0vw;
	padding: 15vw 0vw 0vw 0vw;

	background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('../img/slider1.jpg');


	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;

	animation: bgfade 15s infinite;
	animation-timing-function: ease-in-out;
}

#bgLogin {
	min-height: 100vh;
	margin: 0vw 0vw 0vw 0vw;


	background: #DA4453;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #89216B, #DA4453);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #89216B, #DA4453);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
}

#notFound{
	text-align: center;
	font-size: 7em;
	color: #fff;
	padding-top: 20vh;
}

#slider {
	color: #fff;
	text-align: center;
}

#slider h1 {
	font-size: 6em;
	padding-bottom: 30px;
}

#slider p {
	font-size: 1.2em;
	padding-bottom: 30px;
}

#slider button {
	display: block;
	margin: 0 auto;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 15px 60px 15px 60px;
	border-style: none;
	border-radius: 30px;

	color: red;
	text-align: center;
}


#slider button:hover {
	background: #d53369;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbad6d, #d53369);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbad6d, #d53369);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/************************
*** Footer (sticky :/ ***
************************/
footer {
	display: block;
	z-index: -1;
}

footer img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#footer {
	position: relative;
	z-index: -1;
	height: auto;
	padding: 75px 0px 75px 0px;
	background: #1D2022;
	color: #fff;
	text-align: center;
}

#footer i {
	color: #fff;
	font-size: 35px;
	padding: 15px
}

#footer i:hover {
	color: #d61e3a;
}

@media (min-width: 767px) {
	html {
		position: relative;
		min-height: 100%;
	}

	#footer {
		/*position: absolute;*/
		bottom: 0;
		width: 100%;
		padding: 0;
		padding: 75px 0px 75px 0px;
	}

	#footer p {
		margin: 0;
		line-height: 60px;
	}
}

@media (max-width: 767px) {
	#footer p {
		line-height: 30px;
		text-align: center;
	}
}

button a {
	background-color: transparent;
}




.box-login {

	display: block;

	margin: auto;
	margin-top: 10vh;
	padding: 15px 15px 0px 15px;
	background-color: #fff;
	max-width: 500px;
}

.box-login img {
	display: block;
	max-width: 100px;
	margin: auto;
}

.box-login h1 {
	text-align: center;
	font-size: 2rem;
}

.box-login form {
	padding: 30px 15px 15px 15px;
}

.box-login input {
	margin-bottom: 15px;
}

.box-login button a {
	text-decoration: none;
	color: #fff;
}

.box-login button {
	background-color: #D84353;
	/* Green */
	border: none;
	width: 100%;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.box-secondary {
	padding: 15px;
	text-align: center;
}

.box-secondary p {
	padding-bottom: 15px;


}

.box-secondary button {
	background-color: #89206A;
}


input[type=text],
[type=name],
[type=email],
[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 1rem;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.alert {

	padding: 20px;
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
	margin-top: 15px;
}

.alert-success {
	padding: 20px;
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
	margin-top: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: #000;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
